{% extends 'base.html' %} {% block title %}
<title>music</title>
{% endblock %}
{% block content %}
        
        <!-- Main -->
        <div id="main"><div id="main">
        
            <!-- One -->
            <section class="wrapper style1">
                <div class="inner">
                    <header class="align-center">
                        <h2>노래 리스트</h2>
                    </header>

                    <div class="table-wrapper">
                        <table>
                            <thead>
                            <tr>
                                <th>순서</th>
                                <th>노래</th>
                                <th>가수</th>
                                <th>예습링크</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>괴수의꽃노래</td>
                                <td>바운디</td>
                                <td><a href="https://www.youtube.com/watch?v=UM9XNpgrqVk" target="_blank">바로가기</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>좋아합니다</td>
                                <td>데이식스</td>
                                <td><a href="https://www.youtube.com/watch?v=daoMYJv8i0c" target="_blank">바로가기</a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>hymn of the birds</td>
                                <td>너드커넥션</td>
                                <td><a href="https://www.youtube.com/watch?v=cs5iRsG_gpE" target="_blank">바로가기</a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>pokerface</td>
                                <td>브로큰발렌타인</td>
                                <td><a href="https://www.youtube.com/watch?v=EIUQAJ5zQE0" target="_blank">바로가기</a></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>좋지아니한가</td>
                                <td>유다빈밴드</td>
                                <td><a href="https://www.youtube.com/watch?v=V2IlM2kGP8M" target="_blank">바로가기</a></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>빨간피터</td>
                                <td>쏜애플 2017</td>
                                <td><a href="https://www.youtube.com/watch?v=W6AZscGtRqI" target="_blank">바로가기</a></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>kyo181</td>
                                <td>실리카겔</td>
                                <td><a href="https://www.youtube.com/watch?v=C8RdxCK7Uts" target="_blank">바로가기</a></td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>?</td>
                                <td>?</td>
                                <td><a href="#" target="_blank">?</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                
                </div>
            </section>
        
            <!-- Three -->
            <section class="wrapper ">
                <div class="inner">
                    <header class="align-center">
                        <p>감사합니다</p>
                    </header>
                </div>
            </section>
        
        </div>
        
{% endblock %}